body {
  font-family: "PT Sans", sans-serif !important;
}

.fixed-left {
  position: fixed !important;
  top: 0;
  left: 0;
  bottom: 0 !important;
  right: auto;
  width: 200px;
  flex-flow: column nowrap !important;
  align-items: flex-start;
}

.flex-column {
  flex-flow: column nowrap !important;
}

.bg-sidebar {
  background-color: #1e3190;
}

.navbar-collapse {
  align-items: flex-start !important;
}

.font-bold {
  font-weight: 700;
}

.nav-item {
  color: #bec0ce !important;
  padding-left: 2.5rem !important;
}

.navbar-logo {
  margin-top: 50px;
  margin-bottom: 50px;
}

.active {
  color: white !important;
  border-left: 10px solid;
}

.width-100 {
  width: 100%;
}

.height-100{
    height: 100%;
}

.display-flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.navbar-profile-container{
    margin-bottom: 30px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
}


