.fixed-left{
    position: fixed !important;
    top: 0;
    left: 0;
    bottom: 0 !important;
    right: auto;
    width: 232px;
    flex-flow: column nowrap !important;
    align-items: flex-start;
}

.flex-column{
    flex-flow: column nowrap !important;
}

.bg-sidebar{
    background-color: #1e3190;
}